_workflows_versionado/Previsualizar_Fechas.json
{
 "name": "Conciliacion_PREVISUALIZAR_FECHAS",
 "nodes": [
  {
   "id": "aa9df160-042b-49ac-8e2a-986fb26e4599",
   "name": "List Cajas Drive",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    520,
    400
   ],
   "parameters": {
    "method": "GET",
    "url": "https://www.googleapis.com/drive/v3/files",
    "authentication": "predefinedCredentialType",
    "nodeCredentialType": "googleDriveOAuth2Api",
    "sendQuery": true,
    "queryParameters": {
     "parameters": [
      {
       "name": "q",
       "value": "'12zjruSVCy7ZSP6XrcToed2N0NKfx6L6c' in parents and trashed = false"
      },
      {
       "name": "fields",
       "value": "files(id,name,mimeType)"
      },
      {
       "name": "pageSize",
       "value": "100"
      }
     ]
    },
    "options": {}
   },
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "u82XQCSIPvN6Um8o",
     "name": "Drive Grecia OAuth"
    }
   },
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 2000
  },
  {
   "id": "2b848cff-b67a-4be4-9997-f15742f93987",
   "name": "Split files",
   "type": "n8n-nodes-base.splitOut",
   "typeVersion": 1,
   "position": [
    660,
    400
   ],
   "parameters": {
    "fieldToSplitOut": "files",
    "options": {}
   }
  },
  {
   "id": "f4f003fd-88a7-4df7-a70c-cd775bc51c55",
   "name": "Loop sobre cajas",
   "type": "n8n-nodes-base.splitInBatches",
   "typeVersion": 3,
   "position": [
    800,
    400
   ],
   "parameters": {
    "batchSize": 1,
    "options": {}
   }
  },
  {
   "id": "ad29b7ce-e22b-4e03-80e8-f8bc24946f82",
   "name": "Download caja",
   "type": "n8n-nodes-base.googleDrive",
   "typeVersion": 3,
   "position": [
    1080,
    300
   ],
   "parameters": {
    "operation": "download",
    "fileId": {
     "__rl": true,
     "mode": "id",
     "value": "={{ $json.id }}"
    },
    "options": {}
   },
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "u82XQCSIPvN6Um8o",
     "name": "Drive Grecia OAuth"
    }
   },
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 2000
  },
  {
   "id": "87ddd75d-1606-4c8d-902b-abe22530136b",
   "name": "Read XLSX caja",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1360,
    300
   ],
   "parameters": {
    "language": "javaScript",
    "jsCode": "// === VALIDACION_ROBUSTA_XLSX v2 ===\nfunction _validarXLSX(buf, nombreArchivo) {\n  const nombre = nombreArchivo || 'archivo';\n  if (!buf || buf.length === 0) {\n    throw new Error(`[XLSX_VACIO] El archivo \"${nombre}\" llego vacio (0 bytes). Re-subir al Drive correctamente.`);\n  }\n  if (buf.length < 500) {\n    throw new Error(`[XLSX_PEQUENO] El archivo \"${nombre}\" es demasiado pequeno (${buf.length} bytes). Un xlsx valido tiene minimo ~5KB. Re-subir al Drive.`);\n  }\n  // Magic bytes iniciales: zip empieza con PK\\x03\\x04 (50 4B 03 04)\n  const b0 = buf[0], b1 = buf[1], b2 = buf[2], b3 = buf[3];\n  const esZip = b0 === 0x50 && b1 === 0x4B && (b2 === 0x03 || b2 === 0x05) && (b3 === 0x04 || b3 === 0x06);\n  if (!esZip) {\n    const hex = [b0,b1,b2,b3].map(b => (b||0).toString(16).padStart(2,'0')).join(' ');\n    let pista = '';\n    if (b0 === 0xD0 && b1 === 0xCF) pista = ' (archivo .xls antiguo, no .xlsx)';\n    else if (b0 === 0x3C) pista = ' (HTML/XML)';\n    else if (b0 === 0x7B) pista = ' (JSON)';\n    else if (b0 === 0xEF && b1 === 0xBB) pista = ' (texto con BOM UTF-8)';\n    throw new Error(`[XLSX_FORMATO_INCORRECTO] El archivo \"${nombre}\" NO es un xlsx. Bytes iniciales: ${hex}${pista}. ACCION: re-subir al Drive como .xlsx.`);\n  }\n  // End of Central Directory marker (PK\\x05\\x06 = 50 4B 05 06) en los ultimos ~22-65kb del zip\n  // Buscar hacia atras desde el final\n  const maxSearch = Math.min(buf.length, 65557); // EOCD puede estar precedido por hasta 64K de comentario\n  let eocdEncontrado = false;\n  for (let i = buf.length - 22; i >= Math.max(0, buf.length - maxSearch); i--) {\n    if (buf[i] === 0x50 && buf[i+1] === 0x4B && buf[i+2] === 0x05 && buf[i+3] === 0x06) {\n      eocdEncontrado = true;\n      break;\n    }\n  }\n  if (!eocdEncontrado) {\n    throw new Error(`[XLSX_TRUNCADO] El archivo \"${nombre}\" (${buf.length} bytes) es un zip pero esta TRUNCADO o CORRUPTO (falta el marcador End-of-Central-Directory). Causa probable: el archivo se subio al Drive incompleto o se daño en la descarga. ACCION: re-subir el archivo al Drive desde el sistema fuente.`);\n  }\n}\n\nasync function _cargarXLSXSeguro(wb, buf, nombreArchivo) {\n  try {\n    await wb.xlsx.load(buf);\n  } catch (e) {\n    const msg = String(e?.message || e);\n    if (msg.includes('central directory') || msg.includes('Corrupted zip') || msg.includes('invalid signature')) {\n      throw new Error(`[XLSX_CORRUPTO] El archivo \"${nombreArchivo}\" no se pudo abrir (${msg.slice(0, 100)}). Causa: zip corrupto. ACCION: re-subir el archivo al Drive.`);\n    }\n    throw e;\n  }\n}\n// === FIN VALIDACION ===\n\n// Parse XLSX caja con exceljs. Mantiene el formato N items por fila para\n// compatibilidad con Extract recargas downstream que espera $input.all().\nconst ExcelJS = require('exceljs');\nconst item = $input.first();\nif (!item || !item.binary || !item.binary.data) {\n  throw new Error('Sin binary del archivo de caja');\n}\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n_validarXLSX(buf, (item.binary?.data?.fileName || 'archivo_caja_virtualsoft'));\nconst wb = new ExcelJS.Workbook();\nawait wb.xlsx.load(buf);\nconst ws = wb.worksheets[0];\nif (!ws) throw new Error('Sin worksheet en caja');\n\nconst rowCount = ws.rowCount || 0;\n// VALIDACION_VACIOS — Bloque hardening:\nif (rowCount < 2) {\n  throw new Error(`Archivo vacio o solo headers en pestana '${ws.name || 'desconocida'}' (rowCount=${rowCount}). Verifica que el XLSX tenga datos.`);\n}\n\nif (rowCount < 2) return [];\n\nconst headerRow = ws.getRow(1);\nconst headers = [];\nconst colCount = ws.columnCount || 1;\nfor (let c = 1; c <= colCount; c++) {\n  const v = headerRow.getCell(c).value;\n  headers[c - 1] = (v == null) ? '' : String(v).trim();\n}\n\nconst out = [];\nfor (let r = 2; r <= rowCount; r++) {\n  const row = ws.getRow(r);\n  const obj = {};\n  let allEmpty = true;\n  for (let c = 1; c <= colCount; c++) {\n    const h = headers[c - 1];\n    if (!h) continue;\n    let v = row.getCell(c).value;\n    if (v && typeof v === 'object' && 'result' in v) v = v.result;\n    if (v && typeof v === 'object' && 'richText' in v) v = v.richText.map(r => r.text).join('');\n    if (v && v instanceof Date) v = v.toISOString().slice(0, 19).replace('T', ' ');\n    obj[h] = (v == null) ? '' : v;\n    if (String(v ?? '').trim() !== '') allEmpty = false;\n  }\n  if (!allEmpty) out.push({ json: obj });\n}\n\nreturn out;\n"
   }
  },
  {
   "id": "69e04c98-06ca-4ffe-949c-4de887f48246",
   "name": "Extract recargas",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1640,
    300
   ],
   "parameters": {
    "language": "javaScript",
    "jsCode": "// Lookup por nombre de header (no por posicion).\n// Tolerante a tildes/mayusculas/orden distinto de columnas.\n// Output: items con keys EXACTAS del Yopago (Fecha, ID Agencia, Valor Recarga, Banco, Confirmado)\n//   asi cuando Spreadsheet File toFile escribe con headerRow=true, los datos van a las cols correctas.\n\nfunction norm(s) {\n  return String(s || '').trim().toLowerCase()\n    .normalize('NFD').replace(/[̀-ͯ]/g, '');\n}\n\nfunction findKey(obj, ...candidates) {\n  const keys = Object.keys(obj || {});\n  for (const c of candidates) {\n    const t = norm(c);\n    const f = keys.find(k => norm(k) === t);\n    if (f) return f;\n  }\n  for (const c of candidates) {\n    const t = norm(c);\n    const f = keys.find(k => norm(k).includes(t));\n    if (f) return f;\n  }\n  return null;\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  if (!row || typeof row !== 'object') continue;\n  const fechaKey = findKey(row, 'Fecha');\n  const idKey = findKey(row, 'ID Usuario', 'ID Agencia', 'ID');\n  const valorKey = findKey(row, 'Valor');\n  if (!fechaKey || !idKey || !valorKey) continue;\n\n  const fechaCompleta = String(row[fechaKey] || '');\n  const idAgencia = String(row[idKey] || '').replace(/\\.0$/, '').trim();\n  const valor = parseFloat(String(row[valorKey] || '0').replace(/[^0-9.\\-]/g, ''));\n  if (!idAgencia || !valor) continue;\n\n  const fechaSolo = fechaCompleta.includes(' ') ? fechaCompleta.split(' ')[0] : fechaCompleta;\n\n  // Output con headers EXACTOS del Yopago — asi se escribe correcto en xlsx\n  out.push({\n    \"Fecha\": fechaSolo,\n    \"ID Agencia\": idAgencia,\n    \"Valor Recarga\": valor,\n    \"Banco\": \"\",\n    \"Confirmado\": \"\",\n  });\n}\nreturn out.map(o => ({ json: o }));"
   }
  },
  {
   "id": "8688d440-3d37-4279-8138-15fff93e07b0",
   "name": "Aggregate todas las filas",
   "type": "n8n-nodes-base.aggregate",
   "typeVersion": 1,
   "position": [
    1920,
    400
   ],
   "parameters": {
    "aggregate": "aggregateAllItemData",
    "options": {}
   }
  },
  {
   "id": "9ffadb69-0083-4f0b-8bc5-4c231c087c02",
   "name": "List Yopago",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2200,
    400
   ],
   "parameters": {
    "method": "GET",
    "url": "https://www.googleapis.com/drive/v3/files",
    "authentication": "predefinedCredentialType",
    "nodeCredentialType": "googleDriveOAuth2Api",
    "sendQuery": true,
    "queryParameters": {
     "parameters": [
      {
       "name": "q",
       "value": "'1nd2P5MG-eTDPHpeTzWIqlJpzo6k8rap6' in parents and trashed = false"
      },
      {
       "name": "fields",
       "value": "files(id,name)"
      }
     ]
    },
    "options": {}
   },
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "u82XQCSIPvN6Um8o",
     "name": "Drive Grecia OAuth"
    }
   },
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 2000
  },
  {
   "id": "9ea757ae-0807-44f1-bb50-e8158709c28d",
   "name": "Split Yopago",
   "type": "n8n-nodes-base.splitOut",
   "typeVersion": 1,
   "position": [
    2340,
    400
   ],
   "parameters": {
    "fieldToSplitOut": "files",
    "options": {}
   }
  },
  {
   "id": "7c32387f-2d60-4907-a92c-8171d8b852c7",
   "name": "Tomar 1 Yopago",
   "type": "n8n-nodes-base.limit",
   "typeVersion": 1,
   "position": [
    2480,
    400
   ],
   "parameters": {
    "maxItems": 1
   }
  },
  {
   "id": "709f1f9a-d99a-4d99-b911-a95b6bdac6fe",
   "name": "Download Yopago",
   "type": "n8n-nodes-base.googleDrive",
   "typeVersion": 3,
   "position": [
    2760,
    400
   ],
   "parameters": {
    "operation": "download",
    "fileId": {
     "__rl": true,
     "mode": "id",
     "value": "={{ $json.id }}"
    },
    "options": {}
   },
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "u82XQCSIPvN6Um8o",
     "name": "Drive Grecia OAuth"
    }
   },
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 2000
  },
  {
   "id": "568ade5d-2f6f-42bf-9bd2-8dbe49da3704",
   "name": "Read Yopago mes actual",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3040,
    400
   ],
   "parameters": {
    "language": "javaScript",
    "jsCode": "// === VALIDACION_ROBUSTA_XLSX v2 ===\nfunction _validarXLSX(buf, nombreArchivo) {\n  const nombre = nombreArchivo || 'archivo';\n  if (!buf || buf.length === 0) {\n    throw new Error(`[XLSX_VACIO] El archivo \"${nombre}\" llego vacio (0 bytes). Re-subir al Drive correctamente.`);\n  }\n  if (buf.length < 500) {\n    throw new Error(`[XLSX_PEQUENO] El archivo \"${nombre}\" es demasiado pequeno (${buf.length} bytes). Un xlsx valido tiene minimo ~5KB. Re-subir al Drive.`);\n  }\n  // Magic bytes iniciales: zip empieza con PK\\x03\\x04 (50 4B 03 04)\n  const b0 = buf[0], b1 = buf[1], b2 = buf[2], b3 = buf[3];\n  const esZip = b0 === 0x50 && b1 === 0x4B && (b2 === 0x03 || b2 === 0x05) && (b3 === 0x04 || b3 === 0x06);\n  if (!esZip) {\n    const hex = [b0,b1,b2,b3].map(b => (b||0).toString(16).padStart(2,'0')).join(' ');\n    let pista = '';\n    if (b0 === 0xD0 && b1 === 0xCF) pista = ' (archivo .xls antiguo, no .xlsx)';\n    else if (b0 === 0x3C) pista = ' (HTML/XML)';\n    else if (b0 === 0x7B) pista = ' (JSON)';\n    else if (b0 === 0xEF && b1 === 0xBB) pista = ' (texto con BOM UTF-8)';\n    throw new Error(`[XLSX_FORMATO_INCORRECTO] El archivo \"${nombre}\" NO es un xlsx. Bytes iniciales: ${hex}${pista}. ACCION: re-subir al Drive como .xlsx.`);\n  }\n  // End of Central Directory marker (PK\\x05\\x06 = 50 4B 05 06) en los ultimos ~22-65kb del zip\n  // Buscar hacia atras desde el final\n  const maxSearch = Math.min(buf.length, 65557); // EOCD puede estar precedido por hasta 64K de comentario\n  let eocdEncontrado = false;\n  for (let i = buf.length - 22; i >= Math.max(0, buf.length - maxSearch); i--) {\n    if (buf[i] === 0x50 && buf[i+1] === 0x4B && buf[i+2] === 0x05 && buf[i+3] === 0x06) {\n      eocdEncontrado = true;\n      break;\n    }\n  }\n  if (!eocdEncontrado) {\n    throw new Error(`[XLSX_TRUNCADO] El archivo \"${nombre}\" (${buf.length} bytes) es un zip pero esta TRUNCADO o CORRUPTO (falta el marcador End-of-Central-Directory). Causa probable: el archivo se subio al Drive incompleto o se daño en la descarga. ACCION: re-subir el archivo al Drive desde el sistema fuente.`);\n  }\n}\n\nasync function _cargarXLSXSeguro(wb, buf, nombreArchivo) {\n  try {\n    await wb.xlsx.load(buf);\n  } catch (e) {\n    const msg = String(e?.message || e);\n    if (msg.includes('central directory') || msg.includes('Corrupted zip') || msg.includes('invalid signature')) {\n      throw new Error(`[XLSX_CORRUPTO] El archivo \"${nombreArchivo}\" no se pudo abrir (${msg.slice(0, 100)}). Causa: zip corrupto. ACCION: re-subir el archivo al Drive.`);\n    }\n    throw e;\n  }\n}\n// === FIN VALIDACION ===\n\nconst ExcelJS = require('exceljs');\nconst item = $input.first();\nif (!item || !item.binary || !item.binary.data) throw new Error('Sin binary del Yopago');\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n_validarXLSX(buf, (item.binary?.data?.fileName || 'Yopago'));\n\nconst wb = new ExcelJS.Workbook();\nawait wb.xlsx.load(buf);\n\n// Pestana dinamica con REGLA DE CAMBIO DE MES (4 dias de gracia, 2026-05-27):\n// Durante los primeros 4 dias del mes, los datos siguen en la hoja del MES ANTERIOR\n// (cierre atrasado por feriado/fin de semana). Desde el dia 5, hoja del mes actual.\nconst meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nlet _fechaTest = null;\ntry { const _t = $('Execute Workflow Trigger').first().json; if (_t && _t._fecha_proceso_test) _fechaTest = _t._fecha_proceso_test; } catch (e) {}\nconst ahora = _fechaTest ? new Date(_fechaTest + 'T12:00:00') : new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nlet _mesIdx = ahora.getMonth();\nlet _anio = ahora.getFullYear();\nif (ahora.getDate() <= 4) {\n  _mesIdx -= 1;\n  if (_mesIdx < 0) { _mesIdx = 11; _anio -= 1; }\n}\nconst sheetName = meses[_mesIdx] + ' ' + _anio;\n\nlet _hojaNueva = false;\nlet _plantillaSheet = null;\nlet ws = wb.getWorksheet(sheetName);\nif (!ws) {\n  // La hoja del mes destino aun no existe -> se creara en 'Write' clonando la ultima hoja.\n  _hojaNueva = true;\n  const _plant = wb.worksheets[wb.worksheets.length - 1];\n  _plantillaSheet = _plant ? _plant.name : null;\n  ws = _plant; // plantilla: solo para leer headers/columnas\n}\nif (!ws) throw new Error('Yopago sin worksheets');\n\nconst rowCount = ws.rowCount || 0;\nif (rowCount < 2) {\n  throw new Error(`Archivo vacio o solo headers en pestana '${ws.name || 'desconocida'}' (rowCount=${rowCount}). Verifica que el XLSX tenga datos.`);\n}\n\n// Leer headers (siempre fila 1)\nconst headerRow = ws.getRow(1);\nconst headers = [];\nconst colCount = ws.columnCount || 1;\nfor (let c = 1; c <= colCount; c++) {\n  const v = headerRow.getCell(c).value;\n  headers[c - 1] = (v == null) ? '' : String(v).trim();\n}\n\n// Buscar ultima fila con datos en col A (Fecha) para saber donde APPEND.\n// Si la hoja del mes es nueva (aun no existe), arranca vacia (solo headers).\nlet ultimaFilaConDatos = 1; // por defecto solo el header\nif (!_hojaNueva) {\n  ws.eachRow({ includeEmpty: false }, (row, rowNum) => {\n    const v = row.getCell(1).value;\n    if (v != null && String(v).trim() !== '') {\n      ultimaFilaConDatos = rowNum;\n    }\n  });\n}\n\n// FIX FORMATO: NO devolvemos las filas existentes (no las modificamos).\n// Pasamos: sheetName, headers, ultimaFilaConDatos, y el binary INTACTO adelante.\n\n// === FIX 1B+ 2026-05-27: punto de corte = MAX fecha de TODAS las filas ===\n// Robustez: si el Yopago quedara desordenado, el corte sigue siendo la fecha mas nueva.\n// (Tambien soluciona el bug \"Fri\": Date de otro realm se detecta con toString.call.)\nfunction _normF(s){ s=String(s==null?'':s).trim(); if(!s)return''; s=s.split(' ')[0];\n  let m=s.match(/^(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/);\n  if(m)return `${m[1]}-${m[2].padStart(2,'0')}-${m[3].padStart(2,'0')}`;\n  m=s.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})/);\n  if(m){let d=m[1],mo=m[2],y=m[3];if(y.length===2)y='20'+y;return `${y}-${mo.padStart(2,'0')}-${d.padStart(2,'0')}`;}\n  return s; }\nlet ultimaFechaYopago = null;\nfor (let _r = 2; _r <= ultimaFilaConDatos; _r++) {\n  let _vf = ws.getRow(_r).getCell(1).value;\n  if (_vf == null) continue;\n  if (typeof _vf === 'object' && 'result' in _vf) _vf = _vf.result;\n  const _isDate = (_vf instanceof Date)\n    || Object.prototype.toString.call(_vf) === '[object Date]'\n    || (_vf && typeof _vf.getMonth === 'function');\n  const _f = _isDate ? new Date(_vf).toISOString().slice(0,10) : _normF(_vf);\n  if (_f && /^\\d{4}-\\d{2}-\\d{2}$/.test(_f)) {\n    if (ultimaFechaYopago === null || _f > ultimaFechaYopago) ultimaFechaYopago = _f;\n  }\n}\n// === FIN FIX 1B+ ===\n\nreturn [{\n  json: {\n    sheetName: sheetName,\n    headers,\n    ultimaFilaConDatos,\n    ultimaFechaYopago,\n    headerCount: headers.length,\n    _hojaNueva,\n    _plantillaSheet,\n  },\n  binary: item.binary\n}];"
   }
  },
  {
   "id": "7e5dbd3e-776b-408d-ad21-35a24aeef355",
   "name": "Webhook PREV",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    -500,
    300
   ],
   "webhookId": "8b03ac9f-4789-42fe-ae83-78aca5b50859",
   "parameters": {
    "httpMethod": "POST",
    "path": "previsualizar-fechas",
    "responseMode": "responseNode",
    "options": {}
   }
  },
  {
   "id": "b7dfe525-a3d9-49b2-80dc-66a76e7c2d79",
   "name": "Hay cajas?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    -200,
    300
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "conditions": [
      {
       "id": "8ac39021-0401-4045-b098-8f33019f505a",
       "leftValue": "={{ ($json.files || []).length }}",
       "rightValue": 0,
       "operator": {
        "type": "number",
        "operation": "gt"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   }
  },
  {
   "id": "fc704084-ea5b-48f4-9025-dee50ec942b1",
   "name": "Hay Yopago?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    700,
    200
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "conditions": [
      {
       "id": "32cd5df2-d314-4186-b127-f83cafe56ceb",
       "leftValue": "={{ ($json.files || []).length }}",
       "rightValue": 0,
       "operator": {
        "type": "number",
        "operation": "gt"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   }
  },
  {
   "id": "07b86457-57f5-40d5-98d8-bce5f42f3d70",
   "name": "List descargados",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1000,
    200
   ],
   "parameters": {
    "method": "GET",
    "url": "https://www.googleapis.com/drive/v3/files",
    "authentication": "predefinedCredentialType",
    "nodeCredentialType": "googleDriveOAuth2Api",
    "sendQuery": true,
    "queryParameters": {
     "parameters": [
      {
       "name": "q",
       "value": "('1KZt98PYd9V6w_zfSpl-fOl6F1v56Vb4t' in parents or '12jatMOkDTNHzIwwPZOlHnWc33uoqcxwM' in parents) and trashed=false"
      },
      {
       "name": "fields",
       "value": "files(id,name,parents)"
      },
      {
       "name": "pageSize",
       "value": "50"
      },
      {
       "name": "supportsAllDrives",
       "value": "true"
      },
      {
       "name": "includeItemsFromAllDrives",
       "value": "true"
      }
     ]
    },
    "options": {}
   },
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "u82XQCSIPvN6Um8o",
     "name": "Drive Grecia OAuth"
    }
   }
  },
  {
   "id": "5d04efaa-8be4-4ddb-b90e-a98253de7701",
   "name": "Hay descargados?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    1200,
    200
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "conditions": [
      {
       "id": "5c00bdc4-f950-47a0-9976-e84f401324ad",
       "leftValue": "={{ ($json.files || []).length }}",
       "rightValue": 0,
       "operator": {
        "type": "number",
        "operation": "gt"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   }
  },
  {
   "id": "1fdcdf93-a5e9-4fff-94bf-feda9960f462",
   "name": "Split desc",
   "type": "n8n-nodes-base.splitOut",
   "typeVersion": 1,
   "position": [
    1400,
    150
   ],
   "parameters": {
    "fieldToSplitOut": "files",
    "options": {}
   }
  },
  {
   "id": "4a54115b-18b7-44a5-85f5-347e6321f42e",
   "name": "Download desc",
   "type": "n8n-nodes-base.googleDrive",
   "typeVersion": 3,
   "position": [
    1600,
    150
   ],
   "parameters": {
    "operation": "download",
    "fileId": {
     "__rl": true,
     "mode": "id",
     "value": "={{ $json.id }}"
    },
    "options": {}
   },
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "u82XQCSIPvN6Um8o",
     "name": "Drive Grecia OAuth"
    }
   }
  },
  {
   "id": "dcbb83eb-4f13-4174-af1d-a49d51036dc3",
   "name": "Read fechas descargados",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1800,
    150
   ],
   "parameters": {
    "language": "javaScript",
    "jsCode": "\nfunction norm(v){ if(v==null)return''; if(v instanceof Date||Object.prototype.toString.call(v)==='[object Date]'||(v&&typeof v.getMonth==='function'))return new Date(v).toISOString().slice(0,10); if(typeof v==='object'&&'result'in v)v=v.result; let s=String(v).trim().split(' ')[0];\n  let m=s.match(/^(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/); if(m)return `${m[1]}-${m[2].padStart(2,'0')}-${m[3].padStart(2,'0')}`;\n  m=s.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})/); if(m){let d=m[1],mo=m[2],y=m[3];if(y.length===2)y='20'+y;return `${y}-${mo.padStart(2,'0')}-${d.padStart(2,'0')}`;}\n  return ''; }\n\nconst FV = '1KZt98PYd9V6w_zfSpl-fOl6F1v56Vb4t'; const FC = '12jatMOkDTNHzIwwPZOlHnWc33uoqcxwM';\nconst items = $input.all();\nlet maxValles=null, maxCredil=null;\nfor(let i=0;i<items.length;i++){\n  const parents = items[i].json.parents || [];\n  let banco = null;\n  if(parents.includes(FV)) banco='Valles';\n  else if(parents.includes(FC)) banco='Credil';\n  try {\n    const ExcelJS=require('exceljs');\n    const buf=await this.helpers.getBinaryDataBuffer(i,'data');\n    const wb=new ExcelJS.Workbook(); await wb.xlsx.load(buf);\n    const ws=wb.worksheets[0];\n    let mx=null;\n    for(let r=2;r<=ws.rowCount;r++){ const f=norm(ws.getRow(r).getCell(1).value); if(/^\\d{4}-\\d{2}-\\d{2}$/.test(f)){ if(!mx||f>mx)mx=f; } }\n    if(banco==='Valles'){ if(!maxValles||(mx&&mx>maxValles))maxValles=mx; }\n    else if(banco==='Credil'){ if(!maxCredil||(mx&&mx>maxCredil))maxCredil=mx; }\n  } catch(e){}\n}\nreturn [{ json: { max_valles: maxValles, max_credil: maxCredil } }];\n"
   }
  },
  {
   "id": "12dd9992-722a-49d9-a73c-c83f59c144be",
   "name": "Compute fechas",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2050,
    200
   ],
   "parameters": {
    "language": "javaScript",
    "jsCode": "\nfunction norm(v){ if(v==null)return''; if(v instanceof Date||Object.prototype.toString.call(v)==='[object Date]'||(v&&typeof v.getMonth==='function'))return new Date(v).toISOString().slice(0,10); if(typeof v==='object'&&'result'in v)v=v.result; let s=String(v).trim().split(' ')[0];\n  let m=s.match(/^(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/); if(m)return `${m[1]}-${m[2].padStart(2,'0')}-${m[3].padStart(2,'0')}`;\n  m=s.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})/); if(m){let d=m[1],mo=m[2],y=m[3];if(y.length===2)y='20'+y;return `${y}-${mo.padStart(2,'0')}-${d.padStart(2,'0')}`;}\n  return ''; }\n\nlet recargas=[];\ntry { recargas = $('Aggregate todas las filas').first().json.data || []; } catch(e){ recargas=[]; }\nlet yop={ ultimaFechaYopago:null, _sinYopago:true };\ntry { yop = $('Read Yopago mes actual').first().json; } catch(e){ yop={ultimaFechaYopago:null,_sinYopago:true}; }\nconst sinYopago=!!yop._sinYopago;\nlet maxValles=null, maxCredil=null;\ntry { const d=$('Read fechas descargados').first().json; maxValles=d.max_valles; maxCredil=d.max_credil; } catch(e){}\n\n// mapa fechas en cajas\nconst mapa={};\nfor(const r of recargas){ const f=norm(r['Fecha']||r.fecha||''); if(!f)continue; if(!mapa[f])mapa[f]={fecha:f,recargas:0,valor_total:0}; mapa[f].recargas++; const v=parseFloat(String(r['Valor Recarga']!=null?r['Valor Recarga']:(r.valor||0)).replace(/[^0-9.\\-]/g,''))||0; mapa[f].valor_total=Math.round((mapa[f].valor_total+v)*100)/100; }\nconst fechas=Object.values(mapa).sort((a,b)=>a.fecha.localeCompare(b.fecha));\nconst ultimaYop = yop.ultimaFechaYopago ? norm(yop.ultimaFechaYopago) : null;\nconst nuevas = fechas.filter(f=>!ultimaYop || f.fecha>ultimaYop).map(f=>f.fecha);\nconst yaProc = fechas.filter(f=>ultimaYop && f.fecha<=ultimaYop).map(f=>f.fecha);\n\n// CORTE COMUN (opcion B): min de las fechas maximas de los descargados\nconst faltantes=[];\nif(!maxValles) faltantes.push('Resumen Valles (3a)');\nif(!maxCredil) faltantes.push('Resumen Credil (3b)');\nlet corte=null;\nif(maxValles && maxCredil) corte = (maxValles<=maxCredil)?maxValles:maxCredil;\n\nlet sugeridas=[], pospuestas=[];\nif(corte){ sugeridas=nuevas.filter(f=>f<=corte); pospuestas=nuevas.filter(f=>f>corte); }\n\nconst ahora=new Date(new Date().toLocaleString('en-US',{timeZone:'America/Bogota'}));\nconst hoyStr=`${ahora.getFullYear()}-${String(ahora.getMonth()+1).padStart(2,'0')}-${String(ahora.getDate()).padStart(2,'0')}`;\n\nlet resumen;\nif(sinYopago){ resumen='FALTA EL ARCHIVO YOPAGO en 4_RECARGAS_YOPAGO. Subilo antes de procesar.'; }\nelse if(recargas.length===0){ resumen='No hay cajas (recargas) en el input. Subi las cajas Virtualsoft.'; }\nelse if(faltantes.length){ resumen=`Faltan resumenes descargados: ${faltantes.join(', ')}. Sin cobertura bancaria completa NO se procesa (opcion B).`; }\nelse if(sugeridas.length){ resumen=`Fechas a procesar (con cobertura completa): ${sugeridas.join(', ')}.` + (pospuestas.length?` POSPUESTAS por falta de cobertura (corte ${corte}): ${pospuestas.join(', ')}.`:''); }\nelse if(pospuestas.length){ resumen=`Todas las fechas nuevas (${pospuestas.join(', ')}) superan el corte comun ${corte} (algun banco no las cubre aun). No se procesa ninguna hasta tener los archivos.`; }\nelse { resumen=`No hay fechas nuevas. Ultima en Yopago: ${ultimaYop||'?'}.`; }\n\nreturn [{ json: {\n  ok: !sinYopago && faltantes.length===0,\n  falta_yopago: sinYopago,\n  faltan_descargados: faltantes,\n  hay_cajas: recargas.length>0,\n  dia_actual: hoyStr,\n  ultima_fecha_yopago: ultimaYop,\n  corte_comun: corte,\n  max_resumen_valles: maxValles,\n  max_resumen_credil: maxCredil,\n  total_recargas_en_cajas: recargas.length,\n  fechas_en_cajas: fechas,\n  fechas_sugeridas: sugeridas,\n  fechas_pospuestas: pospuestas,\n  fechas_ya_procesadas: yaProc,\n  resumen,\n}}];\n"
   }
  },
  {
   "id": "dfb35c7f-36a8-44d9-be6b-2a7e1e543ee5",
   "name": "Respond",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1,
   "position": [
    2250,
    200
   ],
   "parameters": {
    "respondWith": "firstIncomingItem",
    "options": {}
   }
  }
 ],
 "connections": {
  "Webhook PREV": {
   "main": [
    [
     {
      "node": "List Cajas Drive",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "List Cajas Drive": {
   "main": [
    [
     {
      "node": "Hay cajas?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Hay cajas?": {
   "main": [
    [
     {
      "node": "Split files",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "List Yopago",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Split files": {
   "main": [
    [
     {
      "node": "Loop sobre cajas",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Loop sobre cajas": {
   "main": [
    [
     {
      "node": "Aggregate todas las filas",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Download caja",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Download caja": {
   "main": [
    [
     {
      "node": "Read XLSX caja",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read XLSX caja": {
   "main": [
    [
     {
      "node": "Extract recargas",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract recargas": {
   "main": [
    [
     {
      "node": "Loop sobre cajas",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Aggregate todas las filas": {
   "main": [
    [
     {
      "node": "List Yopago",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "List Yopago": {
   "main": [
    [
     {
      "node": "Hay Yopago?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Hay Yopago?": {
   "main": [
    [
     {
      "node": "Split Yopago",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "List descargados",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Split Yopago": {
   "main": [
    [
     {
      "node": "Tomar 1 Yopago",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Tomar 1 Yopago": {
   "main": [
    [
     {
      "node": "Download Yopago",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Download Yopago": {
   "main": [
    [
     {
      "node": "Read Yopago mes actual",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read Yopago mes actual": {
   "main": [
    [
     {
      "node": "List descargados",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "List descargados": {
   "main": [
    [
     {
      "node": "Hay descargados?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Hay descargados?": {
   "main": [
    [
     {
      "node": "Split desc",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Compute fechas",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Split desc": {
   "main": [
    [
     {
      "node": "Download desc",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Download desc": {
   "main": [
    [
     {
      "node": "Read fechas descargados",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read fechas descargados": {
   "main": [
    [
     {
      "node": "Compute fechas",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Compute fechas": {
   "main": [
    [
     {
      "node": "Respond",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "callerPolicy": "workflowsFromSameOwner",
  "availableInMCP": false
 }
}