_workflows_versionado/Script_1.json
{
 "name": "Conciliacion_SCRIPT_1_RECARGAS",
 "nodes": [
  {
   "id": "a3c56537-0bf9-4659-b073-52afb408fee7",
   "name": "Manual Trigger",
   "type": "n8n-nodes-base.manualTrigger",
   "typeVersion": 1,
   "position": [
    240,
    300
   ],
   "parameters": {}
  },
  {
   "id": "a2292ccf-1a46-4c24-8f1a-4424a52ca7cc",
   "name": "Webhook Trigger",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    240,
    500
   ],
   "webhookId": "5569392d-bb3a-47d9-834d-79f2b50c29db",
   "parameters": {
    "httpMethod": "POST",
    "path": "exec-script1",
    "responseMode": "lastNode",
    "options": {}
   }
  },
  {
   "id": "0ec50445-686e-452f-bacb-b3adef0baff9",
   "name": "Execute Workflow Trigger",
   "type": "n8n-nodes-base.executeWorkflowTrigger",
   "typeVersion": 1,
   "position": [
    240,
    150
   ],
   "parameters": {}
  },
  {
   "id": "8e811d5e-b783-49a6-9e21-0488855e07f8",
   "name": "List Cajas Drive",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    520,
    400
   ],
   "parameters": {
    "method": "GET",
    "url": "https://www.googleapis.com/drive/v3/files",
    "authentication": "predefinedCredentialType",
    "nodeCredentialType": "googleDriveOAuth2Api",
    "sendQuery": true,
    "queryParameters": {
     "parameters": [
      {
       "name": "q",
       "value": "'12zjruSVCy7ZSP6XrcToed2N0NKfx6L6c' in parents and trashed = false"
      },
      {
       "name": "fields",
       "value": "files(id,name,mimeType)"
      },
      {
       "name": "pageSize",
       "value": "100"
      }
     ]
    },
    "options": {}
   },
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "u82XQCSIPvN6Um8o",
     "name": "Drive Grecia OAuth"
    }
   },
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 2000
  },
  {
   "id": "08fc5d28-5230-4395-835a-02661c4f022d",
   "name": "Split files",
   "type": "n8n-nodes-base.splitOut",
   "typeVersion": 1,
   "position": [
    660,
    400
   ],
   "parameters": {
    "fieldToSplitOut": "files",
    "options": {}
   }
  },
  {
   "id": "c8e4e03c-14bb-4e24-8568-80c4413a1c58",
   "name": "Loop sobre cajas",
   "type": "n8n-nodes-base.splitInBatches",
   "typeVersion": 3,
   "position": [
    800,
    400
   ],
   "parameters": {
    "batchSize": 1,
    "options": {}
   }
  },
  {
   "id": "46fc5f3f-6663-4f9d-835d-1ee6266ba4c0",
   "name": "Download caja",
   "type": "n8n-nodes-base.googleDrive",
   "typeVersion": 3,
   "position": [
    1080,
    300
   ],
   "parameters": {
    "operation": "download",
    "fileId": {
     "__rl": true,
     "mode": "id",
     "value": "={{ $json.id }}"
    },
    "options": {}
   },
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "u82XQCSIPvN6Um8o",
     "name": "Drive Grecia OAuth"
    }
   },
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 2000
  },
  {
   "id": "df945d0c-dc5d-4921-bd08-2f05b5deec86",
   "name": "Read XLSX caja",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1360,
    300
   ],
   "parameters": {
    "language": "javaScript",
    "jsCode": "// === VALIDACION_ROBUSTA_XLSX v2 ===\nfunction _validarXLSX(buf, nombreArchivo) {\n  const nombre = nombreArchivo || 'archivo';\n  if (!buf || buf.length === 0) {\n    throw new Error(`[XLSX_VACIO] El archivo \"${nombre}\" llego vacio (0 bytes). Re-subir al Drive correctamente.`);\n  }\n  if (buf.length < 500) {\n    throw new Error(`[XLSX_PEQUENO] El archivo \"${nombre}\" es demasiado pequeno (${buf.length} bytes). Un xlsx valido tiene minimo ~5KB. Re-subir al Drive.`);\n  }\n  // Magic bytes iniciales: zip empieza con PK\\x03\\x04 (50 4B 03 04)\n  const b0 = buf[0], b1 = buf[1], b2 = buf[2], b3 = buf[3];\n  const esZip = b0 === 0x50 && b1 === 0x4B && (b2 === 0x03 || b2 === 0x05) && (b3 === 0x04 || b3 === 0x06);\n  if (!esZip) {\n    const hex = [b0,b1,b2,b3].map(b => (b||0).toString(16).padStart(2,'0')).join(' ');\n    let pista = '';\n    if (b0 === 0xD0 && b1 === 0xCF) pista = ' (archivo .xls antiguo, no .xlsx)';\n    else if (b0 === 0x3C) pista = ' (HTML/XML)';\n    else if (b0 === 0x7B) pista = ' (JSON)';\n    else if (b0 === 0xEF && b1 === 0xBB) pista = ' (texto con BOM UTF-8)';\n    throw new Error(`[XLSX_FORMATO_INCORRECTO] El archivo \"${nombre}\" NO es un xlsx. Bytes iniciales: ${hex}${pista}. ACCION: re-subir al Drive como .xlsx.`);\n  }\n  // End of Central Directory marker (PK\\x05\\x06 = 50 4B 05 06) en los ultimos ~22-65kb del zip\n  // Buscar hacia atras desde el final\n  const maxSearch = Math.min(buf.length, 65557); // EOCD puede estar precedido por hasta 64K de comentario\n  let eocdEncontrado = false;\n  for (let i = buf.length - 22; i >= Math.max(0, buf.length - maxSearch); i--) {\n    if (buf[i] === 0x50 && buf[i+1] === 0x4B && buf[i+2] === 0x05 && buf[i+3] === 0x06) {\n      eocdEncontrado = true;\n      break;\n    }\n  }\n  if (!eocdEncontrado) {\n    throw new Error(`[XLSX_TRUNCADO] El archivo \"${nombre}\" (${buf.length} bytes) es un zip pero esta TRUNCADO o CORRUPTO (falta el marcador End-of-Central-Directory). Causa probable: el archivo se subio al Drive incompleto o se daño en la descarga. ACCION: re-subir el archivo al Drive desde el sistema fuente.`);\n  }\n}\n\nasync function _cargarXLSXSeguro(wb, buf, nombreArchivo) {\n  try {\n    await wb.xlsx.load(buf);\n  } catch (e) {\n    const msg = String(e?.message || e);\n    if (msg.includes('central directory') || msg.includes('Corrupted zip') || msg.includes('invalid signature')) {\n      throw new Error(`[XLSX_CORRUPTO] El archivo \"${nombreArchivo}\" no se pudo abrir (${msg.slice(0, 100)}). Causa: zip corrupto. ACCION: re-subir el archivo al Drive.`);\n    }\n    throw e;\n  }\n}\n// === FIN VALIDACION ===\n\n// Parse XLSX caja con exceljs. Mantiene el formato N items por fila para\n// compatibilidad con Extract recargas downstream que espera $input.all().\nconst ExcelJS = require('exceljs');\nconst item = $input.first();\nif (!item || !item.binary || !item.binary.data) {\n  throw new Error('Sin binary del archivo de caja');\n}\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n_validarXLSX(buf, (item.binary?.data?.fileName || 'archivo_caja_virtualsoft'));\nconst wb = new ExcelJS.Workbook();\nawait wb.xlsx.load(buf);\nconst ws = wb.worksheets[0];\nif (!ws) throw new Error('Sin worksheet en caja');\n\nconst rowCount = ws.rowCount || 0;\n// VALIDACION_VACIOS — Bloque hardening:\nif (rowCount < 2) {\n  throw new Error(`Archivo vacio o solo headers en pestana '${ws.name || 'desconocida'}' (rowCount=${rowCount}). Verifica que el XLSX tenga datos.`);\n}\n\nif (rowCount < 2) return [];\n\nconst headerRow = ws.getRow(1);\nconst headers = [];\nconst colCount = ws.columnCount || 1;\nfor (let c = 1; c <= colCount; c++) {\n  const v = headerRow.getCell(c).value;\n  headers[c - 1] = (v == null) ? '' : String(v).trim();\n}\n\nconst out = [];\nfor (let r = 2; r <= rowCount; r++) {\n  const row = ws.getRow(r);\n  const obj = {};\n  let allEmpty = true;\n  for (let c = 1; c <= colCount; c++) {\n    const h = headers[c - 1];\n    if (!h) continue;\n    let v = row.getCell(c).value;\n    if (v && typeof v === 'object' && 'result' in v) v = v.result;\n    if (v && typeof v === 'object' && 'richText' in v) v = v.richText.map(r => r.text).join('');\n    if (v && v instanceof Date) v = v.toISOString().slice(0, 19).replace('T', ' ');\n    obj[h] = (v == null) ? '' : v;\n    if (String(v ?? '').trim() !== '') allEmpty = false;\n  }\n  if (!allEmpty) out.push({ json: obj });\n}\n\nreturn out;\n"
   }
  },
  {
   "id": "e567fb6e-1578-4705-a16b-2fc77dbf4c15",
   "name": "Extract recargas",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1640,
    300
   ],
   "parameters": {
    "language": "javaScript",
    "jsCode": "// Lookup por nombre de header (no por posicion).\n// Tolerante a tildes/mayusculas/orden distinto de columnas.\n// Output: items con keys EXACTAS del Yopago (Fecha, ID Agencia, Valor Recarga, Banco, Confirmado)\n//   asi cuando Spreadsheet File toFile escribe con headerRow=true, los datos van a las cols correctas.\n\nfunction norm(s) {\n  return String(s || '').trim().toLowerCase()\n    .normalize('NFD').replace(/[̀-ͯ]/g, '');\n}\n\nfunction findKey(obj, ...candidates) {\n  const keys = Object.keys(obj || {});\n  for (const c of candidates) {\n    const t = norm(c);\n    const f = keys.find(k => norm(k) === t);\n    if (f) return f;\n  }\n  for (const c of candidates) {\n    const t = norm(c);\n    const f = keys.find(k => norm(k).includes(t));\n    if (f) return f;\n  }\n  return null;\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  if (!row || typeof row !== 'object') continue;\n  const fechaKey = findKey(row, 'Fecha');\n  const idKey = findKey(row, 'ID Usuario', 'ID Agencia', 'ID');\n  const valorKey = findKey(row, 'Valor');\n  if (!fechaKey || !idKey || !valorKey) continue;\n\n  const fechaCompleta = String(row[fechaKey] || '');\n  const idAgencia = String(row[idKey] || '').replace(/\\.0$/, '').trim();\n  const valor = parseFloat(String(row[valorKey] || '0').replace(/[^0-9.\\-]/g, ''));\n  if (!idAgencia || !valor) continue;\n\n  const fechaSolo = fechaCompleta.includes(' ') ? fechaCompleta.split(' ')[0] : fechaCompleta;\n\n  // Output con headers EXACTOS del Yopago — asi se escribe correcto en xlsx\n  out.push({\n    \"Fecha\": fechaSolo,\n    \"ID Agencia\": idAgencia,\n    \"Valor Recarga\": valor,\n    \"Banco\": \"\",\n    \"Confirmado\": \"\",\n  });\n}\nreturn out.map(o => ({ json: o }));"
   }
  },
  {
   "id": "cfc2e383-ab3c-4190-9eea-8a357aecda5a",
   "name": "Aggregate todas las filas",
   "type": "n8n-nodes-base.aggregate",
   "typeVersion": 1,
   "position": [
    1920,
    400
   ],
   "parameters": {
    "aggregate": "aggregateAllItemData",
    "options": {}
   }
  },
  {
   "id": "b1e70c0d-828f-4803-bc8b-c77b314d5459",
   "name": "List Yopago",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2200,
    400
   ],
   "parameters": {
    "method": "GET",
    "url": "https://www.googleapis.com/drive/v3/files",
    "authentication": "predefinedCredentialType",
    "nodeCredentialType": "googleDriveOAuth2Api",
    "sendQuery": true,
    "queryParameters": {
     "parameters": [
      {
       "name": "q",
       "value": "'1nd2P5MG-eTDPHpeTzWIqlJpzo6k8rap6' in parents and trashed = false"
      },
      {
       "name": "fields",
       "value": "files(id,name)"
      }
     ]
    },
    "options": {}
   },
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "u82XQCSIPvN6Um8o",
     "name": "Drive Grecia OAuth"
    }
   },
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 2000
  },
  {
   "id": "80ef4dc6-2c3e-40c0-afff-75ba1250872e",
   "name": "Split Yopago",
   "type": "n8n-nodes-base.splitOut",
   "typeVersion": 1,
   "position": [
    2340,
    400
   ],
   "parameters": {
    "fieldToSplitOut": "files",
    "options": {}
   }
  },
  {
   "id": "240b5d81-fcc2-417c-92f3-9478485e734c",
   "name": "Tomar 1 Yopago",
   "type": "n8n-nodes-base.limit",
   "typeVersion": 1,
   "position": [
    2480,
    400
   ],
   "parameters": {
    "maxItems": 1
   }
  },
  {
   "id": "ed93dfcc-1968-4033-9899-18d1b792a96f",
   "name": "Download Yopago",
   "type": "n8n-nodes-base.googleDrive",
   "typeVersion": 3,
   "position": [
    2760,
    400
   ],
   "parameters": {
    "operation": "download",
    "fileId": {
     "__rl": true,
     "mode": "id",
     "value": "={{ $json.id }}"
    },
    "options": {}
   },
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "u82XQCSIPvN6Um8o",
     "name": "Drive Grecia OAuth"
    }
   },
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 2000
  },
  {
   "id": "c79f0fbd-145e-4c81-9b65-dc8983a84b98",
   "name": "Read Yopago mes actual",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3040,
    400
   ],
   "parameters": {
    "language": "javaScript",
    "jsCode": "// === VALIDACION_ROBUSTA_XLSX v2 ===\nfunction _validarXLSX(buf, nombreArchivo) {\n  const nombre = nombreArchivo || 'archivo';\n  if (!buf || buf.length === 0) {\n    throw new Error(`[XLSX_VACIO] El archivo \"${nombre}\" llego vacio (0 bytes). Re-subir al Drive correctamente.`);\n  }\n  if (buf.length < 500) {\n    throw new Error(`[XLSX_PEQUENO] El archivo \"${nombre}\" es demasiado pequeno (${buf.length} bytes). Un xlsx valido tiene minimo ~5KB. Re-subir al Drive.`);\n  }\n  // Magic bytes iniciales: zip empieza con PK\\x03\\x04 (50 4B 03 04)\n  const b0 = buf[0], b1 = buf[1], b2 = buf[2], b3 = buf[3];\n  const esZip = b0 === 0x50 && b1 === 0x4B && (b2 === 0x03 || b2 === 0x05) && (b3 === 0x04 || b3 === 0x06);\n  if (!esZip) {\n    const hex = [b0,b1,b2,b3].map(b => (b||0).toString(16).padStart(2,'0')).join(' ');\n    let pista = '';\n    if (b0 === 0xD0 && b1 === 0xCF) pista = ' (archivo .xls antiguo, no .xlsx)';\n    else if (b0 === 0x3C) pista = ' (HTML/XML)';\n    else if (b0 === 0x7B) pista = ' (JSON)';\n    else if (b0 === 0xEF && b1 === 0xBB) pista = ' (texto con BOM UTF-8)';\n    throw new Error(`[XLSX_FORMATO_INCORRECTO] El archivo \"${nombre}\" NO es un xlsx. Bytes iniciales: ${hex}${pista}. ACCION: re-subir al Drive como .xlsx.`);\n  }\n  // End of Central Directory marker (PK\\x05\\x06 = 50 4B 05 06) en los ultimos ~22-65kb del zip\n  // Buscar hacia atras desde el final\n  const maxSearch = Math.min(buf.length, 65557); // EOCD puede estar precedido por hasta 64K de comentario\n  let eocdEncontrado = false;\n  for (let i = buf.length - 22; i >= Math.max(0, buf.length - maxSearch); i--) {\n    if (buf[i] === 0x50 && buf[i+1] === 0x4B && buf[i+2] === 0x05 && buf[i+3] === 0x06) {\n      eocdEncontrado = true;\n      break;\n    }\n  }\n  if (!eocdEncontrado) {\n    throw new Error(`[XLSX_TRUNCADO] El archivo \"${nombre}\" (${buf.length} bytes) es un zip pero esta TRUNCADO o CORRUPTO (falta el marcador End-of-Central-Directory). Causa probable: el archivo se subio al Drive incompleto o se daño en la descarga. ACCION: re-subir el archivo al Drive desde el sistema fuente.`);\n  }\n}\n\nasync function _cargarXLSXSeguro(wb, buf, nombreArchivo) {\n  try {\n    await wb.xlsx.load(buf);\n  } catch (e) {\n    const msg = String(e?.message || e);\n    if (msg.includes('central directory') || msg.includes('Corrupted zip') || msg.includes('invalid signature')) {\n      throw new Error(`[XLSX_CORRUPTO] El archivo \"${nombreArchivo}\" no se pudo abrir (${msg.slice(0, 100)}). Causa: zip corrupto. ACCION: re-subir el archivo al Drive.`);\n    }\n    throw e;\n  }\n}\n// === FIN VALIDACION ===\n\nconst ExcelJS = require('exceljs');\nconst item = $input.first();\nif (!item || !item.binary || !item.binary.data) throw new Error('Sin binary del Yopago');\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n_validarXLSX(buf, (item.binary?.data?.fileName || 'Yopago'));\n\nconst wb = new ExcelJS.Workbook();\nawait wb.xlsx.load(buf);\n\n// Pestana dinamica con REGLA DE CAMBIO DE MES (4 dias de gracia, 2026-05-27):\n// Durante los primeros 4 dias del mes, los datos siguen en la hoja del MES ANTERIOR\n// (cierre atrasado por feriado/fin de semana). Desde el dia 5, hoja del mes actual.\nconst meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nlet _fechaTest = null;\ntry { const _t = $('Execute Workflow Trigger').first().json; if (_t && _t._fecha_proceso_test) _fechaTest = _t._fecha_proceso_test; } catch (e) {}\nconst ahora = _fechaTest ? new Date(_fechaTest + 'T12:00:00') : new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nlet _mesIdx = ahora.getMonth();\nlet _anio = ahora.getFullYear();\nif (ahora.getDate() <= 4) {\n  _mesIdx -= 1;\n  if (_mesIdx < 0) { _mesIdx = 11; _anio -= 1; }\n}\nconst sheetName = meses[_mesIdx] + ' ' + _anio;\n\nlet _hojaNueva = false;\nlet _plantillaSheet = null;\nlet ws = wb.getWorksheet(sheetName);\nif (!ws) {\n  // La hoja del mes destino aun no existe -> se creara en 'Write' clonando la ultima hoja.\n  _hojaNueva = true;\n  const _plant = wb.worksheets[wb.worksheets.length - 1];\n  _plantillaSheet = _plant ? _plant.name : null;\n  ws = _plant; // plantilla: solo para leer headers/columnas\n}\nif (!ws) throw new Error('Yopago sin worksheets');\n\nconst rowCount = ws.rowCount || 0;\nif (rowCount < 2) {\n  throw new Error(`Archivo vacio o solo headers en pestana '${ws.name || 'desconocida'}' (rowCount=${rowCount}). Verifica que el XLSX tenga datos.`);\n}\n\n// Leer headers (siempre fila 1)\nconst headerRow = ws.getRow(1);\nconst headers = [];\nconst colCount = ws.columnCount || 1;\nfor (let c = 1; c <= colCount; c++) {\n  const v = headerRow.getCell(c).value;\n  headers[c - 1] = (v == null) ? '' : String(v).trim();\n}\n\n// Buscar ultima fila con datos en col A (Fecha) para saber donde APPEND.\n// Si la hoja del mes es nueva (aun no existe), arranca vacia (solo headers).\nlet ultimaFilaConDatos = 1; // por defecto solo el header\nif (!_hojaNueva) {\n  ws.eachRow({ includeEmpty: false }, (row, rowNum) => {\n    const v = row.getCell(1).value;\n    if (v != null && String(v).trim() !== '') {\n      ultimaFilaConDatos = rowNum;\n    }\n  });\n}\n\n// FIX FORMATO: NO devolvemos las filas existentes (no las modificamos).\n// Pasamos: sheetName, headers, ultimaFilaConDatos, y el binary INTACTO adelante.\n\n// === FIX 1B+ 2026-05-27: punto de corte = MAX fecha de TODAS las filas ===\n// Robustez: si el Yopago quedara desordenado, el corte sigue siendo la fecha mas nueva.\n// (Tambien soluciona el bug \"Fri\": Date de otro realm se detecta con toString.call.)\nfunction _normF(s){\n  if(typeof s==='number' || /^\\d{4,5}(\\.\\d+)?$/.test(String(s).trim())){ const _n=parseFloat(s); if(_n>=43800&&_n<=49300){ const _d=new Date(Math.round((_n-25569)*86400*1000)); if(!isNaN(_d)) return _d.toISOString().slice(0,10); } }\n  s=String(s==null?'':s).trim(); if(!s)return''; s=s.split(' ')[0].split('T')[0];\n  let m=s.match(/^(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/);\n  if(m)return `${m[1]}-${m[2].padStart(2,'0')}-${m[3].padStart(2,'0')}`;\n  m=s.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})/);\n  if(m){let d=m[1],mo=m[2],y=m[3];if(y.length===2)y='20'+y;return `${y}-${mo.padStart(2,'0')}-${d.padStart(2,'0')}`;}\n  return s; }\nlet ultimaFechaYopago = null;\nconst _fechasPresentes = new Set();   // todas las fechas ya en el Yopago (idempotencia en Append)\nfor (let _r = 2; _r <= ultimaFilaConDatos; _r++) {\n  let _vf = ws.getRow(_r).getCell(1).value;\n  if (_vf == null) continue;\n  if (typeof _vf === 'object' && 'result' in _vf) _vf = _vf.result;\n  const _isDate = (_vf instanceof Date)\n    || Object.prototype.toString.call(_vf) === '[object Date]'\n    || (_vf && typeof _vf.getMonth === 'function');\n  const _f = _isDate ? new Date(_vf).toISOString().slice(0,10) : _normF(_vf);\n  if (_f && /^\\d{4}-\\d{2}-\\d{2}$/.test(_f)) {\n    _fechasPresentes.add(_f);   // idempotencia: registrar TODAS las fechas ya presentes\n    if (ultimaFechaYopago === null || _f > ultimaFechaYopago) ultimaFechaYopago = _f;\n  }\n}\n// === FIN FIX 1B+ ===\n\nreturn [{\n  json: {\n    sheetName: sheetName,\n    headers,\n    ultimaFilaConDatos,\n    ultimaFechaYopago,\n    fechasPresentes: Array.from(_fechasPresentes),\n    headerCount: headers.length,\n    _hojaNueva,\n    _plantillaSheet,\n  },\n  binary: item.binary\n}];"
   }
  },
  {
   "id": "5ca5f57f-d6ed-4667-9a29-a4c53244e805",
   "name": "Append recargas a Yopago",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3320,
    400
   ],
   "parameters": {
    "language": "javaScript",
    "jsCode": "// Append recargas a Yopago v5 (CONTROL DE FECHAS + IDEMPOTENCIA por fecha) — 2026-06-17\n// MANUAL: solo las fechas elegidas. AUTO: posteriores a la ultima del Yopago.\n// IDEMPOTENCIA (NUEVO): NUNCA re-agrega una fecha que YA esta en el Yopago -> re-disparar no duplica.\n\nconst yopagoData = $('Read Yopago mes actual').first().json;\nconst recargasNuevas = $('Aggregate todas las filas').first().json.data || [];\nconst ultimaFechaYopago = yopagoData.ultimaFechaYopago || null;\nconst fechasPresentes = new Set(yopagoData.fechasPresentes || []);  // fechas ya en el Yopago\n\n// normFecha robusta: tolera Date, serial de Excel (re-guardado del .xlsx), ISO con T/Z, dd-mm-yyyy, dd/mm/yy.\nfunction normFecha(s) {\n  if (s == null) return '';\n  if (s instanceof Date || Object.prototype.toString.call(s) === '[object Date]') {\n    const d = new Date(s); if (!isNaN(d)) return d.toISOString().slice(0, 10);\n  }\n  // Serial de Excel SOLO en columna fecha (numero puro 43800-49300 ~ 2019..2034)\n  if (typeof s === 'number' || /^\\d{4,5}(\\.\\d+)?$/.test(String(s).trim())) {\n    const n = parseFloat(s);\n    if (n >= 43800 && n <= 49300) { const d = new Date(Math.round((n - 25569) * 86400 * 1000)); if (!isNaN(d)) return d.toISOString().slice(0, 10); }\n  }\n  s = String(s).trim(); if (!s) return ''; s = s.split(' ')[0].split('T')[0];\n  let m = s.match(/^(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/);\n  if (m) return `${m[1]}-${m[2].padStart(2,'0')}-${m[3].padStart(2,'0')}`;\n  m = s.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})/);\n  if (m) { let d=m[1],mo=m[2],y=m[3]; if(y.length===2)y='20'+y; return `${y}-${mo.padStart(2,'0')}-${d.padStart(2,'0')}`; }\n  return s;\n}\nconst _esFechaOK = (f) => /^\\d{4}-\\d{2}-\\d{2}$/.test(f);\n\nlet fechasSel = null;\ntry {\n  const trig = $('Execute Workflow Trigger').first().json;\n  if (trig && Array.isArray(trig.fechas_a_procesar) && trig.fechas_a_procesar.length > 0) {\n    fechasSel = trig.fechas_a_procesar.map(f => normFecha(f)).filter(Boolean);\n    if (fechasSel.length === 0) fechasSel = null;\n  }\n} catch (e) {}\n\nconst corteFecha = ultimaFechaYopago ? normFecha(ultimaFechaYopago) : null;\n\nlet recargasFiltradas = [];\nlet saltadas = 0;\nconst fechasNuevasSet = new Set();\nconst fechasSaltadasSet = new Set();\nconst fechasYaPresentesSet = new Set();  // elegidas pero ya en el Yopago (idempotencia)\nlet modoFiltro;\n\n// ALERTA (no descarte silencioso): recargas con Fecha presente pero ilegible (formato raro de un .xlsx re-guardado)\nlet fechasIlegibles = 0; const _ilegiblesEj = new Set();\nfor (const r of recargasNuevas) {\n  const _raw = String(r['Fecha'] || r.fecha || '').trim();\n  if (_raw && !_esFechaOK(normFecha(r['Fecha'] != null ? r['Fecha'] : r.fecha))) {\n    fechasIlegibles++; if (_ilegiblesEj.size < 5) _ilegiblesEj.add(_raw.slice(0, 25));\n  }\n}\n\nfunction tomar(r, fNorm) {\n  // IDEMPOTENCIA: si la fecha ya esta en el Yopago, NO re-agregar (evita duplicado en re-disparo)\n  if (fechasPresentes.has(fNorm)) { fechasYaPresentesSet.add(fNorm); return false; }\n  recargasFiltradas.push(r); fechasNuevasSet.add(fNorm); return true;\n}\n\nif (fechasSel) {\n  modoFiltro = 'manual';\n  const selSet = new Set(fechasSel);\n  for (const r of recargasNuevas) {\n    const fNorm = normFecha(r['Fecha'] || r.fecha || '');\n    if (fNorm && selSet.has(fNorm)) { if (!tomar(r, fNorm)) saltadas++; }\n    else { saltadas++; if (fNorm) fechasSaltadasSet.add(fNorm); }\n  }\n} else if (corteFecha) {\n  modoFiltro = 'auto';\n  for (const r of recargasNuevas) {\n    const fNorm = normFecha(r['Fecha'] || r.fecha || '');\n    if (fNorm && fNorm > corteFecha) { if (!tomar(r, fNorm)) saltadas++; }\n    else { saltadas++; if (fNorm) fechasSaltadasSet.add(fNorm); }\n  }\n} else {\n  modoFiltro = 'sin_corte';\n  for (const r of recargasNuevas) {\n    const fNorm = normFecha(r['Fecha'] || r.fecha || '');\n    if (fNorm) { if (!tomar(r, fNorm)) saltadas++; } else { recargasFiltradas.push(r); }\n  }\n}\n\n// ORDEN CRONOLOGICO ascendente\nrecargasFiltradas.sort((a, b) => {\n  const fa = normFecha(a['Fecha'] || a.fecha || ''); const fb = normFecha(b['Fecha'] || b.fecha || '');\n  return fa < fb ? -1 : (fa > fb ? 1 : 0);\n});\n\nif (recargasFiltradas.length === 0) {\n  // Si TODO lo elegido ya estaba en el Yopago -> idempotencia (no es error de datos)\n  if (fechasYaPresentesSet.size > 0) {\n    throw new Error(`[FECHAS_YA_PROCESADAS] Las fechas [${Array.from(fechasYaPresentesSet).sort().join(', ')}] YA estan en el Yopago. No se re-agregan (idempotencia: re-disparar no duplica). NO se modifico el Yopago. Si necesitas re-procesar, primero corrige/limpia esas fechas manualmente.`);\n  }\n  const detalle = fechasSel\n    ? `Ninguna recarga coincide con las fechas elegidas [${fechasSel.join(', ')}]. Fechas presentes en cajas: ${Array.from(fechasSaltadasSet).sort().join(', ')||'ninguna'}.`\n    : (corteFecha\n        ? `Todas las ${recargasNuevas.length} recargas tienen fecha <= ${corteFecha} (ultima en Yopago). Fechas en cajas: ${Array.from(fechasSaltadasSet).sort().join(', ')||'ninguna'}.`\n        : `No hay recargas para agregar.`);\n  throw new Error(`[SIN_RECARGAS_NUEVAS] No hay recargas para procesar. ${detalle} Probable: re-disparo del mismo dia o cajas ya procesadas. NO se modifico el Yopago.`);\n}\n\nreturn [{\n  json: {\n    recargas_nuevas: recargasFiltradas,\n    sheetName: yopagoData.sheetName,\n    headers: yopagoData.headers,\n    ultimaFilaConDatos: yopagoData.ultimaFilaConDatos,\n    total: recargasFiltradas.length,\n    _filtro_fechas: {\n      modo: modoFiltro,\n      fechas_elegidas: fechasSel || null,\n      ultima_fecha_yopago: corteFecha,\n      recargas_originales: recargasNuevas.length,\n      recargas_agregadas: recargasFiltradas.length,\n      recargas_saltadas: saltadas,\n      fechas_agregadas: Array.from(fechasNuevasSet).sort(),\n      fechas_saltadas: Array.from(fechasSaltadasSet).sort(),\n      fechas_ya_presentes_omitidas: Array.from(fechasYaPresentesSet).sort(),  // idempotencia\n      fechas_ilegibles: fechasIlegibles,  // ALERTA: recargas con fecha que no se pudo leer\n      ejemplos_fechas_ilegibles: Array.from(_ilegiblesEj),\n    },\n  },\n  binary: $('Read Yopago mes actual').first().binary\n}];\n"
   }
  },
  {
   "id": "20e4caeb-9984-43bf-8e70-c1be49dc8c38",
   "name": "Write Yopago XLSX",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3600,
    400
   ],
   "parameters": {
    "language": "javaScript",
    "jsCode": "// === VALIDACION_ROBUSTA_XLSX v2 ===\nfunction _validarXLSX(buf, nombreArchivo) {\n  const nombre = nombreArchivo || 'archivo';\n  if (!buf || buf.length === 0) throw new Error(`[XLSX_VACIO] El archivo \"${nombre}\" llego vacio (0 bytes). Re-subir al Drive correctamente.`);\n  if (buf.length < 500) throw new Error(`[XLSX_PEQUENO] El archivo \"${nombre}\" es demasiado pequeno (${buf.length} bytes). Re-subir al Drive.`);\n  const b0 = buf[0], b1 = buf[1], b2 = buf[2], b3 = buf[3];\n  const esZip = b0 === 0x50 && b1 === 0x4B && (b2 === 0x03 || b2 === 0x05) && (b3 === 0x04 || b3 === 0x06);\n  if (!esZip) {\n    const hex = [b0,b1,b2,b3].map(b => (b||0).toString(16).padStart(2,'0')).join(' ');\n    let pista = '';\n    if (b0 === 0xD0 && b1 === 0xCF) pista = ' (archivo .xls antiguo, no .xlsx)';\n    else if (b0 === 0x3C) pista = ' (HTML/XML)';\n    else if (b0 === 0x7B) pista = ' (JSON)';\n    else if (b0 === 0xEF && b1 === 0xBB) pista = ' (texto con BOM UTF-8)';\n    throw new Error(`[XLSX_FORMATO_INCORRECTO] El archivo \"${nombre}\" NO es un xlsx. Bytes iniciales: ${hex}${pista}. ACCION: re-subir al Drive como .xlsx.`);\n  }\n  const maxSearch = Math.min(buf.length, 65557);\n  let eocd = false;\n  for (let i = buf.length - 22; i >= Math.max(0, buf.length - maxSearch); i--) {\n    if (buf[i] === 0x50 && buf[i+1] === 0x4B && buf[i+2] === 0x05 && buf[i+3] === 0x06) { eocd = true; break; }\n  }\n  if (!eocd) throw new Error(`[XLSX_TRUNCADO] El archivo \"${nombre}\" (${buf.length} bytes) es un zip TRUNCADO o CORRUPTO (falta End-of-Central-Directory). ACCION: re-subir el archivo al Drive.`);\n}\n// === FIN VALIDACION ===\n\n// === FIX DROPDOWNS 2026-06-02 (exceljs PURO, sin jszip que esta bloqueado en el sandbox).\n// exceljs carga las listas por-celda y al re-escribir genera rangos SOLAPADOS que Excel\n// marca como corruptos y borra al \"reparar\". Aqui limpiamos el model y re-agregamos UN\n// rango contiguo limpio por columna, conservando las listas EXACTAS del original.\n// A prueba de fallos: si algo falla, no rompe (las DVs quedan como exceljs las dejo). ===\nfunction _fixDropdowns(ws, lastRow, srcWs) {\n  try {\n    const src = (srcWs || ws);\n    const srcModel = (src.dataValidations && src.dataValidations.model) || {};\n    const cols = {};\n    for (const addr of Object.keys(srcModel)) {\n      const mm = addr.match(/^([A-Z]+)(\\d+)$/);\n      if (!mm) continue;\n      const col = mm[1], row = parseInt(mm[2], 10), v = srcModel[addr];\n      if (!cols[col]) cols[col] = { v: v, minRow: row, maxRow: row };\n      else { if (row > cols[col].maxRow) cols[col].maxRow = row; if (row < cols[col].minRow) cols[col].minRow = row; }\n    }\n    if (Object.keys(cols).length === 0) return false;\n    ws.dataValidations.model = {};\n    for (const col of Object.keys(cols)) {\n      const info = cols[col];\n      const start = info.minRow || 2;\n      const end = Math.max(info.maxRow, lastRow || 0);\n      ws.dataValidations.add(`${col}${start}:${col}${end}`, {\n        type: info.v.type || 'list',\n        allowBlank: info.v.allowBlank !== false,\n        showErrorMessage: info.v.showErrorMessage !== false,\n        formulae: info.v.formulae,\n      });\n    }\n    return true;\n  } catch (e) { return false; }\n}\n// === FIN FIX DROPDOWNS ===\n\n// === VERDE CONCILIADO 2026-06-02: filas con col E = \"Si\" -> verde FFB7E1CD (el verde que ya\n// trae el archivo). Regla de formato condicional 'expression', match EXACTO a \"Si\". Idempotente. ===\nfunction _aplicarVerdeConciliado(ws, lastRow) {\n  try {\n    const VERDE = 'FFB7E1CD';\n    const keep = (ws.conditionalFormattings || []).map(cf => {\n      cf.rules = (cf.rules || []).filter(r => !(r.type === 'expression' && (r.formulae || []).some(f => String(f).replace(/\\s/g, '').includes('=\"Si\"'))));\n      return cf;\n    }).filter(cf => (cf.rules || []).length > 0);\n    ws.conditionalFormattings = keep;\n    ws.addConditionalFormatting({\n      ref: `D2:E${lastRow}`,\n      rules: [{ type: 'expression', priority: 1, formulae: ['$E2=\"Si\"'],\n        style: { fill: { type: 'pattern', pattern: 'solid', bgColor: { argb: VERDE }, fgColor: { argb: VERDE } } } }],\n    });\n    return true;\n  } catch (e) { return false; }\n}\n// === FIN VERDE ===\n\nconst ExcelJS = require('exceljs');\n\n// Cargar Yopago original completo (con todas las pestanas, formatos, dropdowns, etc.)\nconst item = $input.first();\nif (!item || !item.binary || !item.binary.data) throw new Error('Sin binary del Yopago original');\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n_validarXLSX(buf, (item.binary?.data?.fileName || 'Yopago_original'));\n\nconst wb = new ExcelJS.Workbook();\nawait wb.xlsx.load(buf);\n\nconst data = item.json;\nconst recargasNuevas = data.recargas_nuevas || [];\n// FIX 2026-05-27: leer flags de cambio de mes DIRECTO de Read (Append no los propaga).\nconst _readJson = $('Read Yopago mes actual').first().json || {};\nconst _hojaNueva = _readJson._hojaNueva || false;\nconst _plantillaSheet = _readJson._plantillaSheet || null;\nconst sheetName = data.sheetName;\nconst headers = data.headers || [];\nconst ultimaFilaConDatos = data.ultimaFilaConDatos || 1;\n\nif (recargasNuevas.length === 0) throw new Error('No hay recargas nuevas para agregar a paso1');\n\nlet _plantillaWs = null;\nlet ws = wb.getWorksheet(sheetName);\nif (!ws) {\n  // CREAR HOJA DEL MES NUEVO clonando la plantilla (headers, formato, anchos).\n  _plantillaWs = wb.getWorksheet(_plantillaSheet) || wb.worksheets[wb.worksheets.length - 1];\n  if (!_plantillaWs) throw new Error('No hay plantilla para crear la hoja del mes: ' + sheetName);\n  ws = wb.addWorksheet(sheetName);\n  const _mc = Math.max(headers.length || 0, _plantillaWs.columnCount || 0) || 7;\n  for (let _c = 1; _c <= _mc; _c++) {\n    try { const _w = _plantillaWs.getColumn(_c).width; if (_w) ws.getColumn(_c).width = _w; } catch (e) {}\n  }\n  const _hs = _plantillaWs.getRow(1), _hd = ws.getRow(1);\n  for (let _c = 1; _c <= _mc; _c++) {\n    _hd.getCell(_c).value = _hs.getCell(_c).value;\n    try { const _st = _hs.getCell(_c).style; if (_st) _hd.getCell(_c).style = _st; } catch (e) {}\n  }\n  try { if (_hs.height) _hd.height = _hs.height; } catch (e) {}\n  _hd.commit();\n}\n\nfunction findColIdx(name) {\n  const idx = headers.findIndex(h => h && h.toString().toLowerCase().includes(name.toLowerCase()));\n  return idx + 1;\n}\nconst colFecha = findColIdx('fecha');\nconst colId = findColIdx('id agencia');\nconst colValor = findColIdx('valor');\n\n// FIX C 2026-05-19: anti-duplicado.\nconst _existentesKeys = new Set();\nconst _maxScanRows = Math.min(ws.rowCount, 300);\nconst _scanFrom = Math.max(2, ws.rowCount - _maxScanRows + 1);\nfor (let _r = _scanFrom; _r <= ws.rowCount; _r++) {\n  const _row = ws.getRow(_r);\n  const _fecha = String(_row.getCell(colFecha).value || '').trim().split(' ')[0];\n  const _id = String(_row.getCell(colId).value || '').trim();\n  const _valor = String(_row.getCell(colValor).value || '').trim();\n  if (_fecha && _id && _valor) _existentesKeys.add(`${_fecha}|${_id}|${parseFloat(_valor)}`);\n}\nconst _recargasFiltradas = [];\nlet _saltadas = 0;\nfor (const _rec of recargasNuevas) {\n  const _k = `${String(_rec.Fecha||_rec.fecha||'').trim().split(' ')[0]}|${String(_rec.ID||_rec.id||_rec['ID Agencia']||'').trim()}|${parseFloat(_rec.Valor||_rec.valor||_rec['Valor Recarga']||'0')}`;\n  if (_existentesKeys.has(_k)) { _saltadas++; } else { _recargasFiltradas.push(_rec); }\n}\nif (_saltadas === recargasNuevas.length && recargasNuevas.length > 0) {\n  throw new Error(`[YOPAGO_DUPLICADOS] TODAS las ${recargasNuevas.length} recargas ya estaban en el Yopago. Probable causa: re-disparo del mismo dia. NO se modifico el archivo.`);\n}\nrecargasNuevas.length = 0;\nfor (const _r of _recargasFiltradas) recargasNuevas.push(_r);\n// FIN FIX C\n\n// PRESERVAR FORMATO (2026-05-27): las filas nuevas heredan el estilo de una fila de DATOS.\nlet _refRow;\nif (_hojaNueva) {\n  const _plantRef = _plantillaWs || wb.getWorksheet(_plantillaSheet) || wb.worksheets[wb.worksheets.length - 1];\n  _refRow = (_plantRef && _plantRef.rowCount >= 2) ? _plantRef.getRow(2) : ws.getRow(1);\n} else {\n  _refRow = ws.getRow(ultimaFilaConDatos);\n}\nconst _maxCol = Math.max(headers.length || 0, ws.columnCount || 0) || 7;\nlet filaActual = ultimaFilaConDatos + 1;\nfor (const rec of recargasNuevas) {\n  const row = ws.getRow(filaActual);\n  for (let _c = 1; _c <= _maxCol; _c++) {\n    try { const _src = _refRow.getCell(_c).style; if (_src) row.getCell(_c).style = _src; } catch (e) {}\n  }\n  try { if (_refRow.height) row.height = _refRow.height; } catch (e) {}\n  if (colFecha > 0) row.getCell(colFecha).value = rec.Fecha || rec.fecha || '';\n  if (colId > 0) row.getCell(colId).value = rec.ID || rec.id || rec['ID Agencia'] || '';\n  if (colValor > 0) row.getCell(colValor).value = rec.Valor || rec.valor || rec['Valor Recarga'] || 0;\n  row.commit();\n  filaActual++;\n}\nconst _ultimaFilaNueva = filaActual - 1;\n\n// FIX DROPDOWNS 2026-06-02: re-emitir las listas desplegables limpias.\n// Caso normal: leer las listas de la misma hoja. Caso mes nuevo: leerlas de la plantilla.\nconst _dvOk = _fixDropdowns(ws, _ultimaFilaNueva, _hojaNueva ? _plantillaWs : null);\n// VERDE CONCILIADO 2026-06-02: pintar verde las filas con E=\"Si\" (historicas ya conciliadas).\n_aplicarVerdeConciliado(ws, ws.rowCount);\n\n// Escribir buffer del workbook completo (con TODAS las pestanas + nuevas filas)\nconst out = await wb.xlsx.writeBuffer();\nconst b64 = Buffer.from(out).toString('base64');\n\nreturn [{\n  json: {\n    ok: true,\n    rowCount: recargasNuevas.length,\n    sheetName,\n    ultimaFilaConDatos,\n    ultimaFilaNueva: _ultimaFilaNueva,\n    pestanas_preservadas: wb.worksheets.length,\n    dropdowns_restauradas: _dvOk,\n  },\n  binary: {\n    data: {\n      data: b64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName: 'paso1_Recargas Concesionario Yopago.xlsx',\n      fileExtension: 'xlsx',\n    }\n  }\n}];\n"
   }
  },
  {
   "id": "293ded34-d949-4e87-ab9e-51524d78f8bd",
   "name": "Upload paso1 to OUTPUTS",
   "type": "n8n-nodes-base.googleDrive",
   "typeVersion": 3,
   "position": [
    3880,
    400
   ],
   "parameters": {
    "operation": "upload",
    "name": "paso1_Recargas Concesionario Yopago.xlsx",
    "driveId": {
     "__rl": true,
     "mode": "list",
     "value": "My Drive"
    },
    "folderId": {
     "__rl": true,
     "mode": "id",
     "value": "1qulBT2VmQn1XL6cK1kednqiTSWzcO0Dq"
    },
    "options": {}
   },
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "u82XQCSIPvN6Um8o",
     "name": "Drive Grecia OAuth"
    }
   },
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 2000
  },
  {
   "id": "a00a38ae-c8c1-46d0-af08-4d9cf9680533",
   "name": "Note Script 1",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    220,
    100
   ],
   "parameters": {
    "content": "## SCRIPT 1 — RECARGAS (replica de 1_recargas.py)\n\n1. Lista archivos en 1_INPUT_CAJAS (espera 1-3 Virtualsoft)\n2. Loop: por cada caja, lee XLSX y extrae fecha/id/valor\n3. Junta todas las filas\n4. Lee Yopago de 4_INPUT_YOPAGO\n5. Append filas nuevas al final\n6. Escribe XLSX y sube a OUTPUTS\n\nOutput: paso1_Recargas Concesionario Yopago.xlsx",
    "height": 220,
    "width": 700,
    "color": 4
   }
  }
 ],
 "connections": {
  "Manual Trigger": {
   "main": [
    [
     {
      "node": "List Cajas Drive",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Webhook Trigger": {
   "main": [
    [
     {
      "node": "List Cajas Drive",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Execute Workflow Trigger": {
   "main": [
    [
     {
      "node": "List Cajas Drive",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "List Cajas Drive": {
   "main": [
    [
     {
      "node": "Split files",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Split files": {
   "main": [
    [
     {
      "node": "Loop sobre cajas",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Loop sobre cajas": {
   "main": [
    [
     {
      "node": "Aggregate todas las filas",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Download caja",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Download caja": {
   "main": [
    [
     {
      "node": "Read XLSX caja",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read XLSX caja": {
   "main": [
    [
     {
      "node": "Extract recargas",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract recargas": {
   "main": [
    [
     {
      "node": "Loop sobre cajas",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Aggregate todas las filas": {
   "main": [
    [
     {
      "node": "List Yopago",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "List Yopago": {
   "main": [
    [
     {
      "node": "Split Yopago",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Split Yopago": {
   "main": [
    [
     {
      "node": "Tomar 1 Yopago",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Tomar 1 Yopago": {
   "main": [
    [
     {
      "node": "Download Yopago",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Download Yopago": {
   "main": [
    [
     {
      "node": "Read Yopago mes actual",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read Yopago mes actual": {
   "main": [
    [
     {
      "node": "Append recargas a Yopago",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Append recargas a Yopago": {
   "main": [
    [
     {
      "node": "Write Yopago XLSX",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write Yopago XLSX": {
   "main": [
    [
     {
      "node": "Upload paso1 to OUTPUTS",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "callerPolicy": "workflowsFromSameOwner",
  "availableInMCP": false,
  "executionTimeout": 900,
  "saveDataSuccessExecution": "all",
  "saveExecutionProgress": false,
  "errorWorkflow": "8UTMsuxK9WKmf34J",
  "saveDataErrorExecution": "all"
 }
}